<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calendar"
        tools:targetApi="31">
        <activity
            android:name=".activity.user.FacebookActivity"
            android:exported="false" />

        <receiver android:name=".activity.notification.NotificationReceiver" />

        <activity
            android:name=".activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationHelper"
            android:exported="false" />
        <activity
            android:name=".activity.notification.NotificationReceiver"
            android:exported="false" />
        <activity
            android:name=".activity.task.CreateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activity.task.ShowTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activity.task.TaskFragment"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.task.UpdateTaskActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.MainSignUp"
            android:exported="false" />
        <activity
            android:name=".activity.user.Sign_Up"
            android:exported="false" />
        <activity
            android:name=".activity.user.UserProfile"
            android:exported="false" />
        <activity
            android:name=".activity.user.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>